html,
body {
height: 100%;
}

body {
margin: 0;
}

button.primary {
background-color: var(--color-primary);
color: var(--color-primary-contrast);
}
button.secondary {
background-color: var(--accent-color);
}

button.grid-toolbar {
background-color: var(--accent-color);
}
button.primary,
button.grid-toolbar-button,
button.grid-toolbar-list-button,
button.secondary {
&:focus,
&:hover {
color: var(--button-hover-color);
background-color: var(--button-hover-background-color);
}
}

.grid-toolbar {background-color:aqua}

button.grid-toolbar-button {margin-left:0.5em}